{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css" >
    <title>Landing Page</title>
  </head>
    <h1> </h1>
    <div class="container">
        <h1>
            Idiomas por Laura Tortuga-beluga
        </h1>
    </div>
    <span>

    </span>
    <div class="container" border: 1px >
        <div class="row mt-12">
            <div class="col-md-3 justify-content:center" >
                <h3> Presentación </h3>
                <img src="{% static "images/LauraF.jpeg" %}" width="80%" height="80%">
            </div>
            <div class="col-md-8 mb-10 columnas" >
                <section>
                    <p><h3>Breve reseña</h3>    
                        Aqui se colocará una breve introducción sobre laura la experiencia,
                        objetivos y misión del curso.
                        Aqui se colocará una breve introducción sobre laura la experiencia,
                        objetivos y misión del curso.
                        Aqui se colocará una breve introducción sobre laura la experiencia,
                        objetivos y misión del curso.
                    </p>
                </section>
            </div>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                            <h3>Oferta disponible</h3>
                            <ol>
                                <li>Curso de Italina</li>
                                <li>Curso de Inglés</li>
                                <li>Conversation sessions</li>
                            </ol>
                    </div>
                    <div class="col-md-4 image">
                            <h3>Clases Personalizadas</h3>
                        <ol>
                            <li>Historia y Geografía 1</li>
                            <li>Eleme</li>
                            <li>Elemento N</li>
                         </ol>
                    </div>
                    <div class="col-md-4">
                            <h3>TOEFEL & Cambridge</h3>
                         <ol>
                            <li>Elemento 1</li>
                            <li>Elemento 2</li>
                            <li>Elemento N</li>
                         </ol>
                    </div>
            </div>
            <div class="container">
                    <h3> Testimonios</h3>
                    <div class="row">
                            <div class="col-sm-6 col-xs-12">
                                    <div class="card">
                                      <div class="card-body">
                                        <h5 class="card-title">Clases personalizadas Inglés</h5>
                                        <p class="card-text">Aquí será una breve reseña de los testimonos sobre alumnos</p>
                                        <a href="#" class="btn btn-primary">Cotiza tu clase<a>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-sm-6">
                                    <div class="card">
                                      <div class="card-body">
                                        <h5 class="card-title">Clases de Italiano</h5>
                                        <p class="card-text">Aquí será una breve reseña de los testimonos sobre alumnos</p>
                                        <a href="#" class="btn btn-primary">Cotiza tu clase</a>
                                      </div>
                                    </div>
                                  </div>
                        </div>
                    <div>
                            </div>
                    <div class="row">
                        <div class="col-md-9">
                        10 % antes del 31 de Mayo
                        </div>
                    </div>
            </div>
            </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <footer class="footer">Footer</footer>
            </div>
        </div>
    </div>
    </body>
</html>